<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>Demo Servlet</servlet-name>
    <servlet-class>demo.servlet.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Generic Demo Servlet</servlet-name>
    <servlet-class>demo.servlet.GenericServletDemo</servlet-class>
  </servlet>
  <filter>
    <display-name>DemoTwoFilter</display-name>
    <filter-name>DemoTwoFilter</filter-name>
    <filter-class>demo.servlet.DemoTwoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DemoTwoFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>DemoFilter</display-name>
    <filter-name>DemoFilter</filter-name>
    <filter-class>demo.servlet.DemoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DemoFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>DemoThreeFilter</display-name>
    <filter-name>DemoThreeFilter</filter-name>
    <filter-class>demo.servlet.DemoThreeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DemoThreeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
<!--  <servlet-mapping>
    <servlet-name>Demo Servlet</servlet-name>
    <url-pattern>/v1/demoservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Generic Demo Servlet</servlet-name>
    <url-pattern>/v1/genericservlet</url-pattern>
  </servlet-mapping>-->

</web-app>
